<p>
    The mass movement of refugees into Western Europe has dominated global headlines. Hundreds of thousands of refugees fleeing civil unrest, war and economic crises have left their homes in Africa and the Near and Middle East with little more than the clothes on their back. They seek a new life in the relative stability and prosperity of Western Europe, particularly Germany, which faced an influx of nearly 1 million refugees in 2015&mdash;a flow of humanity which shows little sign of slowing, as war, unrest, and poverty continue to ravage countries as diverse as Afghanistan, Syria, Libya, Chad, and more.
</p>
<p>
    Germany is a nation undergoing transformation, a prosperous global economic powerhouse facing a declining birth rate and an aging population. With a long and complex history of ethnic tension, a society still grappling with the lingering social and economic after-effects of Reunification in the late 1980s and a rapidly changing populace increasingly comprised of non-Western and Muslim immigrants, Germany finds itself confronted with deep existential questions. How can a predominantly Anglo-Saxon society adapt to its increasingly non-Western immigrant population? Does the rise of non-Western culture, social customs, and religion present a crisis or an opportunity? Can Germany maintain its economic and industrial leadership without an influx of younger workers and families?
</p>
<p>
    The city of Erfurt, the capital of the province of Thuringia in the former East Germany, is facing these challenges head-on. With a population of around 200,000 people and very little religious, cultural or ethnic diversity, Erfurt has committed to taking in several thousand of these newly arriving immigrants&mdash;as many as 300 per week. It&rsquo;s a big challenge that will be faced by many sectors in Erfurt&mdash;individuals, organizations, and the greater society as a whole.
</p>
<p>
    How will Erfurt integrate these new arrivals into its fabric? Will the people accept them? Can the tensions between a predominantly Christian populace and the newly arriving Muslim refugees be navigated? Is there space for the immigrants to live, work, and learn? How will social services deal with the new strains on their resources? Can the local government manage the needs and demands of its citizens, businesses, and services, while welcoming these new arrivals? How much change will be needed, and how much can a society tolerate?
</p>
<p>
    These are big, complex issues, and how this small German city meets and responds to them will set the example for many other towns and cities, across Germany, through Western Europe, and even for the United States.
</p>
<p>
    To better understand the situation and Erfurt area, view the videos in <a href="https://www.youtube.com/playlist?list=PLrZUWUDDRyqEQwJHCiY_HgRLZG-kIui8h" target="_blank">this playlist</a>.
</p>
<p>
    We&rsquo;re going to take on these problems together, and develop an action plan for Erfurt. You&rsquo;ll be working through one perspective on the issue&mdash;Individual, Organizational, or Societal&mdash;to assess the situation, conduct research, develop strategies, and formulate a plan of action. We&rsquo;ll follow the concepts and methodologies of Design Thinking to develop a unique perspective on the issue, and create a winning strategy to meet this big challenge head-on. Let&rsquo;s get started.
</p>
<div class="image-wrapper centered">
    <img src="assets/images/syrian_refugees.jpg" alt="Immigrants sleeping in a train station">
    <div class="caption">Photo by Mstyslav Chernov used under <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY SA 4.0</a></div>
</div>