<p>Click on the people to interview them.</p>
<p>
    You may also listen to key stories and narratives by watching videos in <a href="https://www.youtube.com/playlist?list=PLrZUWUDDRyqEQwJHCiY_HgRLZG-kIui8h">this playlist</a>.
</p>
<div class="row-4-columns">
    <div class="row-2-columns">
        <character-box character-name="jutta" character-last-initial="s" character-age="53" character-description="dairy worker"></character-box>
        <character-box character-name="patrik" character-last-initial="m" character-age="22" character-description="student"></character-box>
    </div>
    <div class="row-2-columns">
        <character-box character-name="tarek" character-last-initial="a" character-age="35" character-description="shopkeeper"></character-box>
        <character-box character-name="torsten" character-last-initial="m" character-age="45" character-description="business owner"></character-box>
    </div>
</div>
<div class="activity">
    <h4>Activity</h4>
    <p>
        Who else would you want to speak with, and what else do you want to research? Fill out the &ldquo;Develop a Research Plan&rdquo; form  on page 15 of <em>The Designing for Growth Field Book</em> to consider who or what else could provide you with a sense of the issue.
    </p>
</div>