<p>
    Your final stage is implementing your ideas. In the Implementation phase, the design thinker introduces her best prototype to potential users and the marketplace of ideas, products, and services. As a part of launching, you’ll continue to build partnerships, refine your business model, pilot your ideas, and ask for feedback. And you’ll know that your solution will be a success because you’ve kept the very people you’re looking to serve at the heart of the process.
</p>
<p>
    You will develop a pitch for how to launch your ideas. This pitch will create a bridge between the development and implementation. You want to ensure your pitch describes how you meet the real needs. You will want to test your pitch on others to ensure it is persuasive. You should have a goal for your pitch, whether it is to request funding or volunteers or other forms of support.
</p>
<div class="image-wrapper centered">
    <img src="assets/images/Erfurt_5774rt.jpg" alt="German village square with street car">
    <div class="caption">Photo by Stefan Munder used under <a href="https://creativecommons.org/licenses/by/2.0/" target="_blank">CC BY 2.0</a></div>
</div>
<div class="activity">
    <h4>Activity</h4>
    <p>
    	Run your Learning Launches using the &ldquo;Learning Launch Design&rdquo; form and the &ldquo;What to Watch for&rdquo; form on page 35 of <em>The Designing for Growth Field Book</em>.
    </p>
</div>