<p>
    You are a longtime citizen of Kr&auml;mpfervorstadt. (Click here to listen to the pronunciation of <a href="https://drive.google.com/open?id=0B_lS51u0zhfycFp6NFcxNy1yX3c" target="_blank">Krämpfervorstadt</a>).
</p>
<p>
    It&rsquo;s a working-class area of Erfurt, largely dominated by a university campus and railyard operations, which has faced a great deal of economic and social pressure over the years. But with a markedly younger population than much of the rest of Erfurt, along with a slightly higher percentage of migrants, and a relatively large number of vacant apartments for use as housing, the city authorities have identified your area as a prime candidate for refugee resettlement.
</p>
<p>
    Much private and public investment has gone into rehabilitating Kr&auml;mpfervorstadt&rsquo;s largely outdated housing inventory, in an effort to increase residency, but the vacancy rate currently stands at about 10%. Resettling refugees here would decrease vacancy rates and potentially help bolster the struggling local economy, as the refugees are granted a monthly welfare payment from the German government which could be spent locally on goods and services. Increasing the population base with more permanent residents could also make the area more attractive for badly needed infrastructure development like public transport, which would open up further parts of Kr&auml;mpfervorstadt for residential development, and potentially attract young families to the area.
</p>
<p>
    However, there are challenges to be faced too. The refugees won&rsquo;t just need places to live&mdash;they&rsquo;ll need places to send their children to school, places to buy culturally specific needs such as halal foods, and places to worship. Beyond that, they&rsquo;ll need to be accepted into the fabric of the local community. The population here is younger and tends to lean fairly liberal politically. With around 700 migrants already living in the area, Kr&auml;mpfervorstadt already has a slightly higher migrant population than the rest of the city. All of this bodes well for integrating these refugees, but many residents are sensitive to the idea of creating a refugee &ldquo;ghetto&rdquo; here.
</p>
<p>
    You know these changes will affect your job prospects, daily life, and culture. You&rsquo;ve decided to collect information to share your perspective that of other everyday citizens with the city council.
</p>
<p>
    The Mayor, known as the B&uuml;rgermeister in German, has solicited proposals for refugee integration programs from each of the 53 districts that comprise the city. Each city council will review the proposals prior to sending them to the Mayor.
</p>
<p>
    To develop your proposal, you&rsquo;ll need to hear the opinions and concerns of the residents of Kr&auml;mpfervorstadt, and consider their needs along with those of the refugees to conduct ethnographic research for your own district by talking to local residents and other stakeholders, conducting data research, and evaluating demographics, employment and housing data.
</p>
<p>
    Use this information and the principles of Design Thinking to come up with a creative approach to this issue, which you&rsquo;ll present to the Committee on Refugee Resettlement. Resettlement will have lasting, far-reaching implications for Kr&auml;mpfervorstadt; this is your opportunity to create some real change, and real opportunity both for your community and the refugees. Let&rsquo;s get started.
</p>

<div class="image-wrapper centered">
    <img src="assets/images/haus_der_volkssolidaritat.jpg" alt="building">
    <div class="caption">Image by Michael Sander used under <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY SA 4.0</a></div>
</div>

<div class="activity">
    <h4>Activity</h4>
    <p>
        Are you sure this problem is suitable for Design Thinking, or is there a better approach fitting this issue? Fill out the &ldquo;Identify Opportunity&rdquo; form on page 7 of <em>The Designing for Growth Field Book</em>.
    </p>
    <p>
        Use the &ldquo;Scope Your Project&rdquo; form on page 9 of <em>The Designing for Growth Field Book</em> to describe the areas of opportunity, obstacles, and more.
    </p>
</div>