<p>
    Now that you&rsquo;ve examined the data and conducted your ethnographic research, you should have a good idea of the opportunities the refugee situation presents for Kr&auml;mpfervorstadt. Work with your team to come up with some ideas to propose to the city council. If it passes, the council will then decide whether to submit your proposal to the Mayor&rsquo;s Committee for Refugee Resettlement, which is tasked with identifying opportunities and formulating a plan for refugees to integrate into the community.
</p>
<p>
    Describe how and why your district can host the bulk of the arriving refugees. This is a big issue that calls for bold, even unorthodox ideas. With 52 other districts in Erfurt competing for attention, you&rsquo;ll want to stand out. Think of how to maximize your resources now, and how you&rsquo;ll extend them into the future. Think of what kinds of big opportunities this could represent for Kr&auml;mpfervorstadt. This could be your big opportunity to reinvent your small, working-class district in a fundamental way. Could your community be the model for change in a greater, global context? Here&rsquo;s your chance to find out, and to prove it.
</p>
<div class="image-wrapper centered">
    <img src="assets/images/Dom_und_Severikirche_in_Erfurt.jpg" alt="Church">
    <div class="caption">Photo by Oliver Kurmis used under <a href="https://creativecommons.org/licenses/by/2.0/" target="_blank">CC BY 2.0</a></div>
</div>
<div class="activity">
    <h4>Activity</h4>
    <p>
        Use the &ldquo;Design Brief&rdquo; form on page 11 of <em>The Designing for Growth Field Book</em> to describe your project.
    </p>
    <p>
        Brainstorm and then use the &ldquo;Concepts&rdquo; form on page 25 of <em>The Designing for Growth Field Book</em> to choose the best ideas to start to form detailed solutions.
    </p>
</div>