<p>
    You are the special adviser to the Mayor of the city of Erfurt, Germany, the capital of the Thuringia region, a city of 208,000 facing the prospect of receiving and integrating as many as 4,000 migrants and asylum-seekers. Your community is predominantly white and Christian, with a small number of immigrant families; as few as 500 Muslims live in the city, a number expected to increase eightfold by the end of the year. How do you integrate these predominantly Muslim, non-Western migrants into your society; how do you provide for their social welfare needs; and how do you maintain the existing fabric of your community, while doing &ldquo;the right thing&rdquo;? What is &ldquo;the right thing&rdquo;? How do you serve the people of Erfurt, and the needs of the migrants? How do you plan for a profound cultural shift that will play out on the streets of your city, much less the region of Thuringia, and Germany as a whole?
</p>
<p>
    Erfurt faces significant challenges in the months ahead. You&rsquo;ll need to ensure you&rsquo;re providing for the needs of 4,000 new migrants, the existing population of Erfurt, and the region as a whole. Can Erfurt handle the influx&mdash;socially, economically, politically? How will you balance the needs of the new arrivals with the existing needs of Erfurt&rsquo;s citizens? Will there be enough jobs, enough homes, enough services for everyone? Can Erfurt adapt to the new realities? You&rsquo;ll need to canvas local politicians, business leaders, and citizen groups, identify their concerns and issues, and take these into account in formulating your strategy.
</p>
<div class="image-wrapper centered">
    <img src="assets/images/leipziger_platz.jpg" alt="A German city street">
    <div class="caption">
        Photo by Michael Sander used under <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY SA 4.0</a>
    </div>
</div>
<div class="activity">
    <h4>Activity</h4>
    <p>
        Are you sure this problem is suitable for Design Thinking, or is there a better approach fitting this issue? Fill out the &ldquo;Identify Opportunity&rdquo; form on page 7 of <em>The Designing for Growth Field Book</em>.
    </p>
    <p>
        Use the &ldquo;Scope Your Project&rdquo; form on page 9 of <em>The Designing for Growth Field Book</em> to describe the areas of opportunity, obstacles, and more.
    </p>
</div>