<p>
    Now that you&rsquo;ve brainstormed your ideas and chosen some concepts, you are ready to develop prototypes of what could work. Review the data you have, and then work with your team to create a prototype that allows you to engage your stakeholders. The stakeholders are the members of your city council, the refugees, and target users you identified in your Design Brief.
</p>
<p>
    A prototype makes ideas tangible. It is a model of what-can-work, a model of your solution. Sometimes a model is a physical construction as in a new type of bicycle. A project on curriculum may require pamphlets and a game board. Other prototypes take the form of stories that exemplify the innovation. Embedded in all of these is a plan of action.
</p>
<div class="activity">
    <h4>Activity</h4>
    <p>Create a storyboard or other 2D prototype of your solution.</p>
</div>