<p>
    Now that you&rsquo;ve examined the data and conducted ethnographic research, you should have a much better idea of the challenges the city faces. Work with your team to come up with some ideas to propose to the Mayor.
</p>
<p>
    Your plan should have two parts: brainstorming and then prototyping. Show your best plan to help integrate the refugees into Erfurt in the short term, to help a smooth transition to longer-term resettlement. This is a big issue that calls for bold, even unorthodox ideas. Think of how to maximize your resources now, and how you&rsquo;ll extend them into the future. Think of what kinds of big opportunities this could represent for Erfurt. This could be your big opportunity to reinvent your city, from a rust-belt former East German backwater into a model for change in a greater, global context. Let&rsquo;s get to work.
</p>
<div class="image-wrapper centered">
    <img src="assets/images/Christian_Schmitt.jpg" alt="A German city square">
    <div class="caption">Photo by Christian Schmitt used under <a href="https://creativecommons.org/licenses/by/2.0/" target="_blank">CC BY 2.0</a></div>
</div>
<div class="activity">
    <h4>Activity</h4>
    <p>
        Use the &ldquo;Design Brief&rdquo; form on page 11 of <em>The Designing for Growth Field Book</em> to describe your project.
    </p>
    <p>
        Brainstorm and then use the &ldquo;Concepts&rdquo; form on page 25 of <em>The Designing for Growth Field Book</em> to choose the best ideas to start to form detailed solutions.
    </p>
</div>