<div class="image-wrapper centered">
    <img src="assets/images/royal_australian_navy.jpg" alt="">
    <div class="caption">
        Photo by defenseimagery.mil used under public domain.
    </div>
</div>
<p>
	At the health fair, you and the rest of the company employees were given the day off to attend. There were also free sandwiches and soft drinks.  Afterwards, a memo was sent around with the results of the health fair screening tests completed on you and the other employees.  The anonymous results of data on 250 employees showed the following:
</p>
<p>
	Data gathered on 250 employees: 55% male, average age 35 (ages range from 19 to 68) included:
</p>
<ul>
	<li>Weight taken on scale</li>
	<li>Family history of health problems survey</li>
	<li>Tobacco use yes or no (self-report)</li>
	<li>Blood pressure reading taken by nurse</li>
	<li>Body Mass Index (BMI)</li>
	<li>Cholesterol check</li>
	<li>Sit and reach for your toes test (flexibility)</li>
	<li>60-second run-in-place test</li>
</ul>