<div class="highlight">
	<h4>WHY THIS CASE STUDY MATTERS</h4>
</div>
<P>
	Americans spend on average 9 hours a day at WORK; over 30–40 years that’s roughly 92,000 hours, give or take a holiday or two.  Unfortunately, for many of us, we will take that job sitting down.  And probably eating when we can what we can, over our keyboard.  Other than taking a stretch break from being hunched over at our workstation, we will manage to walk only about 2,500 steps a day.
</P>
<div class="image-wrapper centered">
    <img src="assets/images/naga.jpg" alt="">
    <div class="caption">
		Photo by Francois Schnell used under <a href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a>
    </div>
</div>
<P>
	Over this time many of us will develop conditions that will ultimately cost us and our companies health plan money.  Conditions like high blood pressure, high cholesterol, and obesity require doctors’ visits and often daily medication.  As a result, companies often think about starting a wellness program at work for lots of reasons.  First, if you are healthy you take fewer sick days and therefore are more productive at work.  Second, you cost the company less money because you don’t take daily medicine or have expensive operations.  Third, and most importantly (hopefully), the company values you as an employee and knows that without you, the employee, the company wouldn’t exist.  This CASE STUDY actually happens a lot in the real world—the idea of a wellness program at work sounds like a win-win.  What could possibly go wrong?
</P>