<h4>RESULTS</h4>
<div class="risk low-risk">
	<div class="img-container"></div>
	<p>
	     20% of employees are considered low risk with 0–1 risk factors and are considered healthy.  These employees said they do not smoke or chew tobacco; they had healthy blood pressure and cholesterol readings.
	</p>
</div>
<div class="risk med-risk">
	<div class="img-container"></div>
	<p>
		60% are considered at moderate risk with 2–3 risk factors and are considered at moderate risk.  These employees may have had slightly elevated blood pressure or cholesterol, high heart rate after 60 seconds of exertion, etc., some family history of health conditions.
	</p>
</div>
<div class="risk high-risk">
	<div class="img-container"></div>
	<p>
		20% are considered at HIGH risk with 4-6 risk factors.  These employees may be at high risk for unhealthy measures in most of the screening tests—chances are one or two will have a major health event in a few years.
	</p>
</div>