<p>
	As a result of the health fair data, a memo was sent to all employees from the head of Human Resources (HR) introducing the <strong>SPARTAN HEALTH IMPROVEMENT PLAN (SHIP).</strong> According to the memo, the stated Mission of the SHIP Wellness Program is to help employees become healthier and to reduce healthcare costs.
</p>
<p>
	<strong>Where do YOU fit in?</strong>  At the end of the memo, there was a list of names of people who had been “volunteered” to be on the SHIP Wellness Committee, and <strong>YOUR name was listed.</strong>  Apparently, it is time to get into SHIP Shape!
</p>