<p>
    UNCGeneaology employees are generally young to middle-aged, college educated, tech-savvy, and unfit.  They spend hours each day hunched over their workstations looking up historical records.  Many eat at their workstations so there are lots of cans of air to blow away crumbs that get in the keyboards.   Some employees have families and sometimes bring their kids into work.  The UNCGeneaology offices are on two floors of a building in a very walkable part of downtown Greensboro away from traffic.  There are plenty of restaurants and a few parks/green spaces within a few blocks.
</p>
<div class="image-wrapper centered">
    <img src="assets/images/customer_service.jpg" alt="">
    <div class="caption">
        Photo by <a href="http://www.cwcs.co.uk/">http://www.cwcs.co.uk/</a> used under <a href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a>
    </div>
</div>
<p>
	Most of the employees get along and on occasion have lunch together in the break room.  Regular work hours are 8:30–5:00 but over half work longer daily hours; some do so once they get home.  There are Twitter, Facebook, and Instagram accounts for UNCGeneaology, and almost all employees are active on social media.  About half of the employees have Fitbits or some other wearable device, but it is hard to say how many actually keep track of their steps or miles.  Since wellness was trending recently, the CEO arranged for a health screening of all his employees.
</p>