<div class="row-flex-columns">
    <character-box character-name="chris" character-description="CEO" box-type="bio"></character-box>
</div>
<h4>Wellness Team Members</h4>
<div class="row-flex-columns">
    <character-box character-name="henrietta" character-description="Human Resources Rep" box-type="bio"></character-box>
    <character-box character-name="fit" character-last-initial="Fran" character-description="Employee" box-type="bio"></character-box>
    <character-box character-name="critical" character-last-initial="Carl" character-description="Employee" box-type="bio"></character-box>
    <character-box character-name="paul" character-description="VP" box-type="bio"></character-box>
</div>