<div class="activity">
    <h4>GROUP TO‐DO</h4>
    <ul>
        <li>Read the interviews for the stakeholders.  Answer the following questions:
            <ul>
                <li>What is curious or confusing?  What is contrary?</li>
                <li>Where do you see measurable data vs. interpretations of data in the interviews?</li>
                <li>Based on what you have read, what are key variables critical for success?</li>
                <li>What archetypes can you identify already?</li>
            </ul>
        </li>
        <li>Organize the information from the interviews in a readable format (worksheet).</li>
        <li>Develop a preliminary systems analysis based on the information you have.  Is this system fitting into any of the archetypes we have learned so far?  Draw a map of that system.</li>
        <li>Look at mental models from the interviews. Complete the worksheet identifying mental models for different constituents. Look at the feedback loops and ask, “What are the key assumptions that keeps this dynamic in place?” Locate a mental model on each cause/effect dynamic and identify which stakeholders have that belief.  Add the “thought bubbles” on your systems map.</li>
    </ul>
</div>
