<div class="row-flex-columns">
    <character-box character-name="fit" character-last-initial="fran" character-description="Employee" box-type="interview"></character-box>
    <character-box character-name="critical" character-last-initial="carl" character-description="Employee" box-type="interview"></character-box>    
    <character-box character-name="henrietta" character-description="Human Resources Rep" box-type="interview"></character-box>
    <character-box character-name="paul" character-description="VP" box-type="interview"></character-box>
    <character-box character-name="chris" character-last-initial="& Paul" box-type="interview"></character-box>
</div>