<div class="activity">
    <h4>GROUP TO‐DO</h4>
    <ul>
        <li>
            What is the problem that is being addressed in this case study?  Now turn this problem into a “focusing question” that needs to be answered.  This should start with the word “Why?”
        </li>
        <li>
            Using the Analyzing Key Stakeholders table on page 81 of your book as a guide and using the information provided, give scores to each stakeholder and to yourself, +3 to -3, as well as noting their commitment to solving the problem at hand.
        </li>
        <li>
            What are two systems thinking tools that we learned this week that you can see right off the bat might address some of the concerns outlined in Stage 1?  How do they apply? You may find <a href="https://thesystemsthinker.com/using-the-archetype-family-tree-as-a-diagnostic-tool/"  target="_blank">this article</a> helpful in identifying archetypes.
        </li>
        <li>
            From what you have read so far, what is the current perspective of the problem on each level? (Complete the Iceberg worksheet.)
        </li>
    </ul>
</div>
