<p>
    Now that you&rsquo;ve conducted your ethnographic research, and heard the perspectives of various stakeholders, it&rsquo;s time to do some data research. This is another important way to determine where the opportunities and possibilities are. We&rsquo;ll look at a number of key metrics relating to population, society, education, commerce, and demographics to bolster our case.
</p>
<p>
    The following two sources will get you started in learning more about the situation. You will need to find at least five or more other credible sources yourself to learn about the issues involved.
</p>
<h4>Tip:</h4>
<p>
    If a page is in German and you wish to read it in English, use this website to translate the words. It won&rsquo;t be perfect, but it&rsquo;ll give you a good sense of what the site is saying: <a href="http://itools.com/tool/google-translate-web-page-translator" target="_blank">http://itools.com/tool/google-translate-web-page-translator</a>
</p>
<h4>Sources:</h4>
<p>
    Erfurt Tourism &amp; Marketing Board
    <br><a href="http://www.erfurt-tourismus.de/en/home/" target="_blank">http://www.erfurt-tourismus.de/en/home/</a></p>

<p>
    Bennhold, K. (2015, September 11). Empathy and Angst in a German City Transformed by Refugees. Nytimes.com. Retrieved from http://www.nytimes.com/2015/09/12/world/europe/empathy-and-angst-in-a-german-city-transformed-by-migrants.html?_r=0
    <br>
    <a href="http://www.nytimes.com/2015/09/12/world/europe/empathy-and-angst-in-a-german-city-transformed-by-migrants.html" target="_blank">http://www.nytimes.com/2015/09/12/world/europe/empathy-and-angst-in-a-german-city-transformed-by-migrants.html</a>
</p>

<p>
    Province of ERFURT. Demographic statistics synthesis data.
    <br>
    <a href="http://www.urbistat.it/AdminStat/en/de/demografia/dati-sintesi/erfurt/16051/3" target="_blank">http://www.urbistat.it/AdminStat/en/de/demografia/dati-sintesi/erfurt/16051/3</a>
</p>

<p>
    Erfurt and Krämpfervorstadt facts and figures:
    <br>
    <a href="http://www.erfurt.de/ef/de/rathaus/daten/bevoelkerung/stadtteile/109177.html" target="_blank">http://www.erfurt.de/ef/de/rathaus/daten/bevoelkerung/stadtteile/109177.html</a>
</p>
<p>
    Statistical data on refugees. German Federal Statistical Office.
    <br>
    <a href="https://www.destatis.de/EN/FactsFigures/_CrossSection/Refugees/Refugees.html;jsessionid=AB3A504C178004EA1F1556DD425837D6.cae1" target="_blank">https://www.destatis.de/EN/FactsFigures/_CrossSection/Refugees/Refugees.html;jsessionid=AB3A504C178004EA1F1556DD425837D6.cae1</a>
</p>
<div class="activity">
    <h4>Activity</h4>
    <p>
        Now that you have identified important data as well as your interviews, it’s time to collect what you know. Follow the process to identify insights on pages 18 and 19 of <em>The Designing for Growth Field Book</em>.
    </p>
</div>