<p>
    When you presented this plan to the Board at your end-of-year fiscal review, however, it was not well received. Many of the traditionalists hated the new opera; they found the music jarring and unpleasant.  They really liked the old war horses. And new opera requires an investment in new ways:  commission fees, workshops, and more marketing and press efforts.  Your vision is going to cost more, and you are running up against limits presented by the Board in terms of their capacity to invest in the company. The tension is mounting between you and your board members, especially the Chairman of the Board, who shores up the company every year when there is a budget deficit. The Chairman doesn’t think that your plan makes sense in the wake of the recovery from the recent economic crisis.  You have heard rumors that there is a coalition of board members who will veto your budget for the next year if it includes your proposed changes.
</p>
<div class="image-wrapper centered">
    <img src="assets/images/board_meeting.jpg" alt="">
    <div class="caption">
        Photo by Malcolm Manners used under <a href="https://creativecommons.org/licenses/by/2.0/" target="_blank">CC BY 2.0</a>
    </div>
</div>
<p>
	In your last board meeting, the board requested that you analyze the company’s current problems, gather data about the new audiences that you think you can attract, and propose a plan for the future.  You are not sure how to do this in a way that will catalyze positive change for the company.  This might be your last shot – the Board always has the option to fire you if things don’t go well.
</p>
