<p>
    You recently attended a workshop in systems thinking, and have read David Peter Stroh’s book <i>Systems Thinking for Social Change</i>.  You think that a systems approach might help your board see the benefit of branching into new artistic terrain plus illuminate their complicity in the problems that exist.  You have three weeks to lead your board members through a systems thinking process.  You hope that it will be enough to get your company back on track and heading in a bold new direction.
</p>
