<div class="activity">
    <h4>GROUP TO‐DO</h4>
    <ul>
        <li>Return to your archetype.  Look at the suggested interventions for your archetype.  Choose one or more of these generic leverage points and apply it to your particular system. Redraw your map once this leverage point is “rewired.”</li>
        <li>Consider the mental models in the stakeholders’ thought bubbles.  How will these shift to support your vision?</li>
        <li>Write a narrative piece about “next steps” that addresses the following questions:
            <ul>
                <li>What current goals, metrics, incentives, authority structures, and funding streams support or undermine the achievement of the purpose?</li>
                <li>What are potential resources to support your newly defined purpose?</li>
                <li>What is your plan for continuous learning and engagement with stakeholders?</li>
                <li>What data will you need to collect to measure your new goals?</li>
                <li>Envision a pilot project that will begin to implement your vision.</li>
            </ul>
        </li>
        <li>FINAL PROJECT: Please visit the "Module 6: Team Case Study Stage 4" assignment in Canvas for details on completing your final project.</li>
    </ul>
</div>
