<div class="row-flex-columns">
        <character-box character-name="ronald" character-last-initial="w" character-description="Former CEO, KJR" box-type="bio"></character-box>
        <character-box character-name="elizabeth" character-last-initial="w" character-description="Philanthropist" box-type="bio"></character-box>
        <character-box character-name="gwyneth" character-last-initial="p" character-description="Social Activist" box-type="bio"></character-box>
        <character-box character-name="jose" character-last-initial="r" character-description="Coder" box-type="bio"></character-box>
        <character-box character-name="delia" character-last-initial="p" character-description="Soprano" box-type="bio"></character-box>
        <character-box character-name="genevieve" character-last-initial="s" character-description="Director of Development" box-type="bio"></character-box>
        <character-box character-name="joe" character-last-initial="w" character-description="Lawyer" box-type="bio"></character-box>
</div>