
<div class="activity">
    <h4>GROUP TO‐DO</h4>
    <ul>
        <li>Answer these questions.  Based on your research,
            <ul>
                <li>What is the payoff to the status quo?</li>
                <li>What is the case for change?</li>
                <li>What are solutions that serve both long and short term goals?  Or, what are trade-offs that can be made?</li>
                <li>Make a choice in favor of the higher purpose by weakening the case for the status quo and strengthening the case for change.</li>
            </ul>
        </li>
        <li>Create a cost-benefit matrix (using page 141 of your book as an example)</li>
        <li>Create a narrative describing how the status quo has changed and what trade-offs have to be made to bring the preferred version to reality.</li>
    </ul>
</div>
