<p>
    Since you have to move quickly, you hire an outside interviewer to conduct the stakeholder interviews with key constituents.  Transcripts of her interviews follow:
</p>
<div class="row-flex-columns">
    <character-box character-name="ronald" character-last-initial="w" character-description="Former CEO, KJR" box-type="interview"></character-box>
    <character-box character-name="gwyneth" character-last-initial="p" character-description="Social Activist" box-type="interview"></character-box>    
    <character-box character-name="jose" character-last-initial="r" character-description="Coder" box-type="interview"></character-box>
    <character-box character-name="delia" character-last-initial="p" character-description="Soprano" box-type="interview"></character-box>
    <character-box character-name="woodruff" character-last-initial="& smith" box-type="interview"></character-box>
    <character-box character-name="joe" character-last-initial="w" character-description="Lawyer" box-type="interview"></character-box>
</div>