<h4>READ THE RESEARCH</h4>
<p>
    <ul>
        <li><a href="assets/pdf/arts_newspaper.pdf" target="_blank">Newspaper Article</a></li>
        <li><a href="assets/pdf/arts_blog.pdf" target="_blank">Blog Post</a></li>
        <li><a href="https://www.youtube.com/watch?v=VpbGvY0qh9k" target="_blank">Youtube Video 1</a></li>
        <li><a href="https://www.youtube.com/watch?v=GGo6csgZdwc" target="_blank">Youtube Video 2</a></li>
        <li><a href="http://www.wallacefoundation.org/knowledge-center/Documents/Cultivating-the-Next-Generation-of-Art-Lovers.pdf" target="_blank">Cultivating the Next Generation of Opera Lovers, the Wallace Foundation</a></li>
        <li><a href="assets/pdf/meeting_minutes.pdf" target="_blank">Board meeting minutes</a></li>
    </ul>
</p>