.activity ul {
    list-style: disc;
    margin-left: 18px;
}

.activity ul li {
    margin: 10px 0;
}

.icon-first-part .part-icon {
    background-image: url(../images/stage1-large.png); 
}

.icon-second-part .part-icon {
    background-image: url(../images/stage2-large.png); 
}

.icon-third-part .part-icon {
    background-image: url(../images/stage3-large.png); 
}

.icon-fourth-part .part-icon {
    background-image: url(../images/stage4-large.png); 
}


.main-menu-nav .nav a.icon-first-part .icon {
    background-image: url(../images/stage1-sprite.png);
}
.main-menu-nav .nav a.icon-second-part .icon {
    background-image: url(../images/stage2-sprite.png);
}
.main-menu-nav .nav a.icon-third-part .icon {
    background-image: url(../images/stage3-sprite.png);
}
.main-menu-nav .nav a.icon-fourth-part .icon {
    background-image: url(../images/stage4-sprite.png);
}

.single-column {
    display: block;
    height: 230px;
    width: 230px;
}

.risk {
    display: flex;
    align-items: stretch;
    margin: 1em 0;
    box-sizing: border-box;
}

.risk .img-container {
    flex-shrink: 0;
    width: 37px;
}

.low-risk .img-container {
    background-image: url(../images/low_risk.svg);
    margin-bottom: -.5em;
}
.med-risk .img-container {
    background-image: url(../images/med_risk.svg);
    margin: -.5em 0;
}
.high-risk .img-container {
    background-image: url(../images/high_risk.svg);
    margin-top: -.5em;
}

.risk p {
    margin: 0 1em;
}

@media screen and (max-width: 670px) {
    .part-icon {
        width: 64px;
        height: 51px; 
    }

    .icon-first-part .part-icon {
        background-image: url(../images/stage1-sprite.png); 
    }

    .icon-second-part .part-icon {
        background-image: url(../images/stage2-sprite.png); 
    }

    .icon-third-part .part-icon {
        background-image: url(../images/stage3-sprite.png); 
    }

    .icon-fourth-part .part-icon {
        background-image: url(../images/stage4-sprite.png); 
    }
}

@media screen and (max-width: 1080px) {
    .single-column {
        display: none;
    }
}